{% extends 'core/base.html' %}

{% block title %}{{ item.imie}} {{ item.nazwisko }}{% endblock %}

{% block content %}
<div style="text-align:center; width:50%; margin: 0 auto">
    <h2 class="p-4 text-3xl text-white bg-teal-500 rounded-t-xl"><strong>{{item.imie}} {{ item.nazwisko }}</strong></h2>
    <ul class="mb-4 p-4 text-xl bg-gray-300 rounded-b-xl">
        <li><strong>PESEL</strong>: {{ item.PESEL}}</li>
        <li><strong>Miasto</strong>: {{ item.miasto}}</li>
        <li><strong>Ulica / nr domu</strong>: {{ item.ulica_nrDomu}}</li>
        <li><strong>Kod pocztowy</strong>: {{ item.kod_pocztowy}}</li>
        <li><strong>Nr telefonu</strong>: {{ item.nr_telefonu}}</li>
    </ul>

    <a href="#" class="inline-block mt-4 px-4 py-3 text-lg font-semibold bg-teal-500 text-white hover:bg-teal-700 rounded-xl">Edytuj</a>
</div>
{% endblock %}